# Backend
DATABASE_URL=postgresql://user:password@host:5432/dbname
REDIS_URL=rediss://user:password@host:port
SERVER_ID=server-a

# Frontend
VITE_WS_SERVER_A=wss://chatcerberus-a.onrender.com/ws
VITE_WS_SERVER_B=wss://chatcerberus-b.onrender.com/ws